## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [39]:
s = (3)
print(x)

3

2) Imprimir el tipo de dato de la constante 8.5

In [35]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [40]:
print(type(s))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = alexander

5) Crear una variable que contenga un número complejo

In [79]:
años = 16 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [80]:
type(años)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [44]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
:No, tiene comillas una variable

In [65]:
casa1 = "True"
casa2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [68]:
print(type(casa1),type(casa2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [73]:
numero = 5 + 1.5

11) Realizar una operación de suma de números complejos

In [81]:
a = 2 + 2j
b = 3 + 5j
print(a + b)

(5+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [83]:
v = a + 3.3
print(v)

(5.3+2j)

13) Realizar una operación de multiplicación

In [85]:
print(2 * 3)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [87]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [90]:
division = 27 / 4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [93]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [92]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [96]:
3 + 6 * 4

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [120]:
p = "colombia ,"
d = " meta"
print(p+d)

colombia , meta

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
:por que tiene comillas el primer dos, indica que es falso

In [123]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [124]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
:por que tiene una coma que es para alfanumericas

In [127]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [131]:
tres = 3
tres -= 1
print(tres)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
:La operación 1 << 2 se realiza utilizando el operador de desplazamiento a la izquierda. En el caso de la operación 1 << 2, el número 1 se desplaza dos posiciones a la izquierda en el sistema de numeración binario.

El sistema de numeración binario es un sistema de numeración que utiliza solamente dos dígitos: 0 y 1. Este sistema se basa en la notación de posición en base 10, donde cada posición tiene un valor de 2 elevado a su posición en la secuencia binaria.

Entonces, al realizar la operación 1 << 2, lo que sucede es lo siguiente:

El número 1 en binario es 001.
Al desplazar este número dos posiciones a la izquierda, se elimina el primer 0 y se agregan dos 0's al final.
El resultado de la operación 1 << 2 es 010 en binario, que es igual a 4 en decimal.
Entonces, 1 << 2 da como resultado 4, ya que el número 1 desplazado dos posiciones a la izquierda en el sistema de numeración binario es igual a 4.

*Admito que lo investigue ya que no me acordaba*

In [132]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
:primero no son del mismo tipo y se requiere cambiar el tipo con "int", "str" y "float" y con int daria el resultado de 4, con float 4.0 y con str daria 22

In [ ]:
2 + "2"

In [144]:
int(2) + int('2')

4

In [143]:
float(2) + float('2')

4.0

In [145]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [161]:
palabra = "Muy buenos dias! ,"
repeticiones = 6
print(palabra * repeticiones + str(repeticiones) + " veces lo repeti")

Muy buenos dias! ,Muy buenos dias! ,Muy buenos dias! ,Muy buenos dias! ,Muy buenos dias! ,Muy buenos dias! ,6 veces lo repeti